<%= render "layouts/header" %>
<div class="container">
    <h2 class="text-center">This Month Bank Log</h2><br></br>
    <div class="row">
        <div class="col-4">
            <h4 class="text-center">MUFG Bank</h4>
            </br>
            <table class="table">
                <thaed>
                    <tr>
                        <td class="col-1">Date</td>
                        <td class="col-3">Title</td>
                        <td class="col-2">Amount</td>
                    </tr>
                </thaed>
                <tbody>
                    <tr>
                        <td class="col-1">Date</td>
                        <td class="col-2">Category</td>
                        <td class="col-2">Amount</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td colspan="2">月末残高</td>
                        <td>¥7000-</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-4">
            <h4 class="text-center">MUFG Bank</h4>
            </br>
            <table class="table">
                <thaed>
                    <tr>
                        <td class="col-1">Date</td>
                        <td class="col-3">Title</td>
                        <td class="col-2">Amount</td>
                    </tr>
                </thaed>
                <tbody>
                    <tr>
                        <td class="col-1">Date</td>
                        <td class="col-2">Category</td>
                        <td class="col-2">Amount</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td colspan="2">月末残高</td>
                        <td>¥7000-</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-4">
            <h4 class="text-center">MUFG Bank</h4>
            </br>
            <table class="table">
                <thaed>
                    <tr>
                        <td class="col-1">Date</td>
                        <td class="col-3">Title</td>
                        <td class="col-2">Amount</td>
                    </tr>
                </thaed>
                <tbody>
                    <tr>
                        <td class="col-1">Date</td>
                        <td class="col-2">Category</td>
                        <td class="col-2">Amount</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td colspan="2">月末残高</td>
                        <td>¥7000-</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>