<%= render "layouts/header" %>
<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <h1 class="text-center">About</h1>
            <br></br>
            <p class="text-center">
                紹介文を記述する
            </p>
        </div>
    </div>
</div>