<%= render "layouts/header" %>
<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <h1 class="text-center">Money Log</h1>
            <br></br>
            <p class="text-center">
                Money Logは自分の口座残高とカード履歴を管理することができます。</br>
                また、収入に情報を管理することもできます。<br></br>
                
            </p>
            <div class="btn-wrapper col-10 mx-auto">
                <%= link_to "Sign Up",new_user_registration_path, class: "btn btn-warning btn-block" %>
                </br>
                <%= link_to "Log In",new_user_session_path, class: "btn btn-info  btn-block" %>
            </div>
        </div>
    </div>
</div>